<!-- <div class="container">
    <a class="icon left" id="menu-icon">
        <i class="fa fa-bars"></i>
    </a>
    <a class="nav-logo left" href="/views/index.html"> LOGO </a>

    <div class="user-info right">
        <i class="user-mail nav-link right" id="email">example@gmail.com</i>

        <img src="/assets/images/account.png" alt="profile" class="profile right">

        <div class="submenu right">
            <a href="#"> <i class="fa fa-user"></i> Mon profile</a>
            <a href="#"> <i class="fa fa-sign-out"></i> Me déconnecter</a>
        </div>
    </div>
</div> -->