<a class="left nav-logo" href="/views/index.html"> LOGO</a>
<div class="nav-items" id="nav-items">
    <a class="nav-link left" href="/views/index.html"> <i class="fa fa-home"></i> Accueil </a>
    <a class="nav-link left" href="/views/about.html"> <i class="fa fa-info-circle"></i> A propos </a>
    <a class="nav-link left" href="/views/contact.html"> <i class="fa fa-send"></i> Contact </a>
    
    <a href="/views/login.html" class="nav-link right"> <i class="fa fa-lock"></i> Se connecter</a>
    
    <i class="dot nav-link right">&CenterDot;</i>
    
    <a href="#" id="trigger" class="nav-link right"> <i class="fa fa-user"></i> S'inscrire</a>

</div>
<a class="nav-link menu-icon right" id="menu-icon">
    <i class="fa fa-bars"></i>
</a>