<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add style -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- <link rel="stylesheet" href="../assets/css/auth.css"> -->
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <title>Contact &centerdot; ePatriote Dev High School </title>
</head>
<body>

    <!-- header -->
    <div class="nav" id="nav">
        
    </div>

    <!-- Contact section -->

    <div class="container-fluid">
        <div class="banner banner-about"><h1>A propos</h1></div>
        <div class="container">
            <div class="about-text">
                <p>
                    La plateforme de gestion de scolarité de <strong>ePatriote Dev High School</strong> est une plateforme 
                    développée dans le but de faciliter la tâches à l'administration et aux élèves tout en permettant
                    aux parents de suivre les performances de leurs enfants. <br> <br>

                    Nous venons donc par cette plateforme numériser le processus habituel de la scolarité dans nos écoles. <br> <br>

                    Pour plus d'informations, <a href="../views/contact.html">veuillez bien nous contacter</a>. <br> <br>

                    Vous pouvez également télécharger <a href="#">le guide d'utilisation de la plateforme</a>.
                </p>

            </div>
        </div>
    </div>

    <!--Registration type select-->

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        
    </div>

    <!-- Common script -->
    <script src="../assets/js/index.js"></script>

    <!-- Footer -->
    <div class="footer" id="footer">

    </div>

</body>
</html>