<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add style -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- <link rel="stylesheet" href="/assets/css/auth.css"> -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <title>Contact &centerdot; ePatriote Dev High School </title>
</head>
<body>

    <!-- header -->
    <div class="nav" id="nav">
        <a class="left nav-logo" href="./index.html"> LOGO</a>
        <div class="nav-items" id="nav-items">
            <a class="nav-link left" href="./index.html"> <i class="fa fa-home"></i> Accueil </a>
            <a class="nav-link left" href="./about.html"> <i class="fa fa-info-circle"></i> A propos </a>
            <a class="nav-link left" href="./contact.html"> <i class="fa fa-send"></i> Contact </a>
            
            <a href="./login.html" class="nav-link right"> Se connecter</a>
            
            <i class="dot nav-link right">&CenterDot;</i>
            
            <a href="#" id="trigger" class="nav-link right"> <i class="fa fa-user"></i> S'inscrire</a>

        </div>
        <a class="nav-link menu-icon right" id="menu-icon">
            <!-- <i class="fa fa-bars"></i> -->
            <i>&#9776;</i>
        </a>
    </div>

    <!-- Contact section -->

    <div class="container-fluid">
        <div class="banner banner-contact"><h1>Contact</h1></div>
        <div class="container contact">
            <div class="headquaters col-6">
                <h3>Comment nous contacter ?</h3>
                <p>
                    Si vous avez une inquiétude, vous pouvez nous envoyer un message en remplissant le formulaire ci-après. Si vous êtes dans les environs de <strong>ePatriote  Dev High School</strong>, vous pouvez nous visiter à notre emplacement physique.
                </p>

                <!-- <br> -->

                <h4><b>Nos contacts</b></h4>
                <p>
                    Téléphone : 0000000000 <br>
                    E-mail : example@gmail.com
                </p>

            </div>

            <div class="contact-form col-6">
                <form>
                    <div class="form-group">
                        <label for="first-name"><b>Nom</b></label>
                        <input type="text" class="form-control" name="first-name" id="first-name" >
                    </div>
                    <div class="form-group">
                        <label for="last-name"><b>Prénoms</b></label>
                        <input type="text" class="form-control" name="last-name" id="last-name" >
                    </div>
                   
                    <div class="form-group">
                        <label for="email"><b>E-mail</b></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="ex:milo@gmail.com" required>
                    </div>
                    <div class="form-group">
                        <label for="message"><b>Message</b></label>
                        <textarea name="message" id="message" class="form-control" placeholder="Votre message..." required ></textarea>
                    </div>
    
                    <button type="submit" class="btn form-btn" > <i class="fa fa-send"></i> Envoyer un message</button>
                    
                </form>
            </div>

        </div>
    </div>

    <!--Registration type select-->

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Qui êtes vous ?</h2>
            </div>
            <div class="modal-body">
                <a href="./students/register.html" class="nav-link btn btn-primary"> Elève </a>
                <a href="./parents/register.html" class="nav-link btn btn-primary"> Parent d'élève </a>
                <a href="./teachers/register.html" class="nav-link btn btn-primary"> Professeur </a>
                <a href="./admin_registration.html" class="nav-link btn btn-primary"> Membre de l'administration </a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        Copyright &copy; 2021 &centerdot; ePatriote Dev High School
    </div>
    
    <!-- contact script -->
    <script src="/assets/js/contact.js"></script>

    <!-- Common script -->
    <script src="/assets/js/index.js"></script>

</body>
</html>