<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add style -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- <link rel="stylesheet" href="/assets/css/auth.css"> -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <title>Accueil &centerdot; ePatriote Dev High School</title>
</head>
<body>

    <!-- The home section -->
    <div class="home">
        <div class="nav" id="nav">
            
        </div>

        <div class="spacer"></div>


        <!-- The welcome message -->
        <div class="home-title">
            Bienvenue sur la plateforme de gestion de scolarité de <i class="school-name"> ePatriote Dev High School</i>
        </div>

        <!-- Overview of the plateform -->
        <div class="overview-row">
            <div class="overview-container">
                <div class="col-3">
                    <i class="fa fa-universal-access"></i>
                    <h3 class="overview-title">Accès libre</h3>
                    <p class="overview-description">
                        la plateforme est accessible à tous les élèves, parents  sans  restriction aucune.
                    </p>
                </div>
                <div class="col-3">
                    <i class="fa fa-clock-o"></i>
                    <h3 class="overview-title">Disponible 24h/24</h3>
                    <p class="overview-description">
                        Nous sommes disponible tous les jours et en toute heure.
                    </p>
                </div>
                <div class="col-3">
                    <i class="fa fa-refresh"></i>
                    <h3 class="overview-title">Informations en temps réel</h3>
                    <p class="overview-description">
                        Toutes les informations sont mises à jour et ce régulièrement pour votre confort.
                    </p>
                </div>
            </div>
        </div>

        <!-- link to about -->
        <div class="more">
            <a href="/views/about.html" class="btn about-btn">
                En savoir plus >>
            </a>
        </div>



        <!--Registration type select-->

        <!-- The Modal -->
        <div id="myModal" class="modal">

            
        </div>

        <!-- FAQ -->
        <div class="container-fluid">
            <div class="container">
                <h2>Questions fréquemment posées</h2>
                <div class="dropdown">
                    <div class="dropdown-title">
                        Comment s'inscrit-on? <i class="fa fa-chevron-down"></i>
                    </div>
                    <div class="dropdown-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.
                    </div>
                    
                </div>

                <div class="dropdown">
                    <div class="dropdown-title">
                        Comment télécharger mes bulletins de notes? <i class="fa fa-chevron-down"></i>
                    </div>
                    <div class="dropdown-body">
                        Duis sed dapibus leo nec ornare diam. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum. 
                    </div>
                    
                </div>
                
            </div>
        </div>

        

        <!-- Footer -->
        <div class="footer" id="footer">
            
        </div>

    </div>


    <!-- Common script -->
    <script src="/assets/js/index.js"></script>
</body>
</html>