<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add style -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- <link rel="stylesheet" href="/assets/css/auth.css"> -->
    <title>Accueil &centerdot; ePatriote Dev High School</title>
</head>
<body>

    <!-- The home section -->
    <div class="home">
        <div class="header">
            <div class="nav">
                <div class="nav-logo left"> <a href="./index.html"> LOGO</a>  </div>
                <div class="left">|</div>
                <div class="nav-items left">
                    <a class="nav-link" href="./index.html"> <i class="fa fa-home"></i> Accueil </a>
                    <a class="nav-link" href="./about.html"> <i class="fa fa-info-circle"></i> A propos </a>
                    <a class="nav-link" href="./contact.html"> <i class="fa fa-send"></i> Contact </a>
                </div>

                <div class="nav-items right">
                    <a href="#" id="trigger" class="nav-link"> <i class="fa fa-user"></i> S'inscrire</a>
                    &CenterDot;
                    <a href="./login.html" class="nav-link"> Se connecter</a>
                </div>
            </div>
        </div>

        <div class="spacer"></div>


        <!-- The welcome message -->
        <div class="home-title">
            Bienvenue sur la plateforme de gestion de scolarité de <i class="school-name"> ePatriote Dev High School</i>
        </div>

        <!-- Overview of the plateform -->
        <div class="overview-row">
            <div class="overview-container">
                <div class="col-3">
                    <i class="fa fa-universal-access"></i>
                    <h3 class="overview-title">Accès libre</h3>
                    <p class="overview-description">
                        la plateforme est accessible à tous les élèves, parents  sans  restriction aucune.
                    </p>
                </div>
                <div class="col-3">
                    <i class="fa fa-clock-o"></i>
                    <h3 class="overview-title">Disponible 24h/24</h3>
                    <p class="overview-description">
                        Nous sommes disponible tous les jours et en toute heure.
                    </p>
                </div>
                <div class="col-3">
                    <i class="fa fa-refresh"></i>
                    <h3 class="overview-title">Informations en temps réel</h3>
                    <p class="overview-description">
                        Toutes les informations sont mises à jour et ce régulièrement pour votre confort.
                    </p>
                </div>
            </div>
        </div>

        <!-- link to about -->
        <div class="more">
            <a href="/views/about.html" class="btn about-btn">
                En savoir plus >>
            </a>
        </div>



        <!--Registration type select-->

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Qui êtes vous ?</h2>
                </div>
                <div class="modal-body">
                    <a href="./students/register.html" class="nav-link btn btn-primary"> Elève </a>
                    <a href="./parents/register.html" class="nav-link btn btn-primary"> Parent d'élève </a>
                    <a href="./teachers/register.html" class="nav-link btn btn-primary"> Professeur </a>
                    <a href="./admin_registration.html" class="nav-link btn btn-primary"> Membre de l'administration </a>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <div class="footer">
            Copyright &copy; 2021 &centerdot; ePatriote Dev High School
        </div>

    </div>


    <!-- Common script -->
    <script src="/assets/js/index.js"></script>
</body>
</html>