<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add style -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/auth.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <title>Connexion au compte utilisateur</title>
</head>
<body>

    <!-- Header -->
    <div class="nav" id="nav">
        
    </div>

    <!-- Login form -->

    <div class="auth-form-container">

        <div class="container-fluid">
            <div class="container">

                <form class="auth-form">
                    <div class="alert"></div>
                    <div class="form-group">
                        <label for="email"><b>Email</b></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="ex:milo@gmail.com" required>
                    </div>
                    <div class="form-group">
                        <label for="password"><b>Mot de passe</b></label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
    
                    <button type="submit" class="btn form-btn"> <i class="fa fa-lock"></i> Se connecter</button>

                    <p>
                        <a href="/views/recover_password.html">Mot de passe oublié ?</a>
                    </p>
                    
                </form>
            </div>
        </div>
    </div>


    <!--Registration type select-->

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        
    </div>

    <!-- Footer -->
    <div class="footer" id="footer" style="margin-top: 0%;">
    </div>

    
    <!-- Common script -->
    <script src="/assets/js/index.js"></script>

    <!-- Login script -->
    <script src="/assets/js/login.js"></script>
    
</body>
</html>