<div class="programs">
    <h2>Programmations</h2>
    <div class="dropdown">
        <div class="dropdown-title">
            Mes programmes de cours <i class="fa fa-chevron-down"></i>
        </div>
        <div class="dropdown-body">
            <table>
                <tr>
                    <th></th>
                    <th>PA</th>
                    <th>API</th>
                    <th>ASL</th>
                    <th>HTTP</th>
                    <th>Nginx</th>
                </tr>
                <tr>
                    <th>Lundi</th>
                    <td></td>
                    <td>8h-10h</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Mardi</th>
                    <td></td>
                    <td></td>
                    <td>15h-19h</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Mercredi</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Jeudi</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Vendredi</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Samedi</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        
    </div>

    <div class="dropdown">
        <div class="dropdown-title">
            Mes programmes d'interrogations <i class="fa fa-chevron-down"></i>
        </div>
        <div class="dropdown-body">
            <!-- <table>
                <tr>
                    <th></th>
                    <th>PA</th>
                    <th>API</th>
                    <th>ASL</th>
                    <th>HTTP</th>
                    <th>Nginx</th>
                </tr>
                <tr>
                    <th>08/10/2021</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>09/10/2021</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>11/10/2021</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table> -->
            <i>Aucune interrogation de prévue</i>
        </div>
        
    </div>

    <div class="dropdown">
        <div class="dropdown-title">
            Mes programmes de devoirs <i class="fa fa-chevron-down"></i>
        </div>
        <div class="dropdown-body">
            <table>
                <tr>
                    <th></th>
                    <th>PA</th>
                    <th>API</th>
                    <th>ASL</th>
                    <th>HTTP</th>
                    <th>Nginx</th>
                </tr>
                <tr>
                    <th>08/10/2021</th>
                    <td>7h-12h</td>
                    <td>15h-17h</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>09/10/2021</th>
                    <td></td>
                    <td></td>
                    <td>10h-13h</td>
                    <td>16h-19h</td>
                    <td></td>
                </tr>
                <tr>
                    <th>11/10/2021</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>8h-12h</td>
                </tr>
            </table> 
        </div>
        
    </div>
    
</div>