.auth-form-container{
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: url(/assets/images/auth.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

form{
    width: 40%;
    background-color: #ebebeb6b;
    padding: 4% 7%;
    border-radius: 3px ;
    margin: auto;
    
}


.help-block{
    color: #721c24 ;
    display: none;
    font-style:normal;
    font-size: 14px;
}

.auth-form p a{
    text-decoration: none;
    color: #081D5B;
    font-weight: bold;
}