html,body {
    margin: 0;
    width: 100%;
    font-size: 100%;
    /* font-family: "Lato", sans-serif; */
    font-family: Arial, Helvetica, sans-serif
}


/* Home style */

.home, .header, .nav {
    width: 100%;
}

.home{
    height: 650px;
    background: url(/assets/images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.spacer{
    margin-top: 10%;
    margin-bottom: 10%;
}


/* Navbar */
.nav{
    height: 60px;
    background: #ebebeb91;
    /* overflow: hidden; */
}


.left{
    float: left;
}

.right{
    float: right;
}


.nav .nav-link, .nav .nav-logo{
    text-decoration: none;
    color: #081D5B;
    padding: 16px 16px;
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    text-align: center;
}

/* .nav-logo{
    font-size: 1.5em;
} */


.nav-link:hover, .active{
    color: rgba(0, 0, 0, 0.705);
}

.nav .menu-icon{
    display: none;
}


/* Welcome */
.home-title{
    width: 45%;
    height: auto;
    margin: auto;
    justify-content: center;
    justify-self: center;
    background: #d1d1d170;
    padding: 2% 4%;
    font-size: 2.1em;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    justify-items: center;
    text-justify: auto;
    text-align: center;
}

.home-title .school-name{
    color: #081D5B ;
}

/* Overview row */
.col-3{
    width: 33.33%;
    display: inline-block;
    margin: 2%;
    justify-content: center;
    text-align: center;
    color: #081D5B;
    font-size: 1.2;
}

.col-3 i{
    width: 48px;
    height: 48px;
    font-size: 3em;
    transition: all .5s;
}
.col-3 i:hover{
    transform: scale(1.5, 1.5);
}

.col-3 p{
    color: black ;
    font-size: 1;
}

.overview-row{
    width: auto;
    padding: 7% 2%;
}

.overview-container{
    width: 90%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.397);
    padding: 32px 24px;
    margin: auto;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    box-sizing: border-box;
}

.btn{
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.397);
    padding: 12px 24px;
    border: none;
    font-weight: bold;
    text-decoration: none;
}

.more{
    margin: auto;
    justify-content: center;
    text-align: center;
}

.btn-primary, .about-btn{
    color: #081D5B;
    border: 1px solid  #081D5B;
    transition: all .5s;
}
.btn-primary:hover, .about-btn:hover{
    color: white;
    background-color: #081D5B;
}


/* ABout */
.section-content{
    width: 70%;
    margin: auto;
    justify-content: center;
    justify-self: center;
}

.section-title{
    border-left: 3px solid #081D5B;
    padding: 10px;
    border-radius: 3px;
    color: #081D5B;
    font-size: 24px;
}

/* Contact form */


.form-btn{
    color: white;
    background-color: #081D5B;
    box-shadow: none;
}

.form-btn:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.397);
}

.container{
    width: 100%;
}


.form-group{
    width: 100%;
    margin: 15px 5px;
}

label{
    display: block;
    margin-bottom: 3px;
    color: #081D5B;
}

.form-control{
    width: 100%;
    /* height: 38px; */
    padding: 5px 15px;
}

textarea.form-control{
    height: 48px;
}

.btn.submit{
    box-shadow: none;
    float: right;
}

.alert{
    display: none;
    position:relative;
    padding:.75rem 1.25rem;margin-bottom:1rem;
    border:1px solid transparent;
    border-radius:.25rem
}

.alert-danger{
    color:#721c24;
    background-color:#f8d7da;
    border-color:#f5c6cb
}

.alert-success{
    color:#155724;
    background-color:#d4edda;
    border-color:#c3e6cb
}


/* Registration type select */

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    top: 100px;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:100px; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:100px; opacity:1}
}

/* The Close Button */
.close {
    color: #62697c;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color:#081D5B;
}

.modal-body {padding: 2px 16px;}


/* footer */
.footer{
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 6%;
    background-color: #081D5B;
    color: white;
    font-weight: bold;
    font-size: 1em;
}