<div class="container programs">
    <h2>Les censeurs</h2>
    
    <table>
        <tr>
            <th>Noms</th>
            <th>Prénoms</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>AGBOLOSSOU</td>
            <td>Germain</td>
            <td>agbolossou.germain@gmail.com</td>
            <td><i class="fa fa-edit"></i></td>
        </tr>
        <tr>
            <td>AGBOLOSSOU</td>
            <td>Germain</td>
            <td>agbolossou.germain@gmail.com</td>
            <td><i class="fa fa-edit"></i></td>
        </tr>
        <tr>
            <td>AGBOLOSSOU</td>
            <td>Germain</td>
            <td>agbolossou.germain@gmail.com</td>
            <td><i class="fa fa-edit"></i></td>
        </tr>
    </table>

    <br>

    <div class="dropdown">
        <div class="dropdown-title">
            Les utilisateurs<i class="fa fa-chevron-down"></i>
        </div>
        <div class="dropdown-body">

            <p>
                <input type="text" class="form-control" id="searchIcon" placeholder="Rechercher un utilisateur..."> 
            </p>            
            <table>
                <tr>
                    <th>Noms</th>
                    <th>Prénoms</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>AGBOLOSSOU</td>
                    <td>Germain</td>
                    <td>agbolossou.germain@gmail.com</td>
                    <td><button id="attributeCensorRole"> Definr comme censeur</button></td>
                </tr>
            </table>

        </div>
    </div>

</div>