<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add style -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/auth.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <title>Tableau de bord &centerdot; Informaticien</title>
</head>
<body>

    <!-- header -->
    <div class="nav dark" id="nav-dark">
        <div class="container">
            <a class="icon left" id="menu-icon">
                <i class="fa fa-bars"></i>
            </a>
            <a class="nav-logo left" href="../views/index.html"> LOGO </a>
        
            <div class="user-info right">
                <i class="user-mail nav-link right" id="email">example@gmail.com</i>
        
                <img src="../assets/images/account.png" alt="profile" class="avatar right">
        
                <div class="submenu right">
                    <a href="#"> <i class="fa fa-user"></i> Mon profile</a>
                    <a href="#"> <i class="fa fa-sign-out"></i> Me déconnecter</a>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar light" id="navbar">
        <div class="container">
            <a href="#stats" id="statsLink" > <i class="fa fa-sort-numeric-asc"></i> Statistiques de visite </a>
            <a href="#censors" id="censorsLink" > <i class="fa fa-user"></i> Censeurs</a>
            <a href="#" id="maintainLink"> <i class="fa fa-gear"></i> Mode Maintenance</a>
        </div>
    </div>

    <!-- Cenrsors field -->
    <div class="container-fluid" id="censors">

    </div>

   <!-- Statistics field -->
    <div class="container-fluid" id="stats">
        
    </div>

    <!-- Common script -->
    <!-- <script src="../assets/js/index.js"></script> -->

    <!-- Footer
    <div class="footer" id="footer">

    </div> -->

    <script src="../assets/js/authIndex.js"></script>

</body>
</html>