<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add style -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/auth.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <title>Créer un compte &centerdot; Professeur</title>
</head>
<body>

    <!-- Header -->
    <div class="nav" id="nav">
        <a class="left nav-logo" href="./index.html"> LOGO</a>
        <div class="nav-items" id="nav-items">
            <a class="nav-link left" href="./index.html"> <i class="fa fa-home"></i> Accueil </a>
            <a class="nav-link left" href="./about.html"> <i class="fa fa-info-circle"></i> A propos </a>
            <a class="nav-link left" href="./contact.html"> <i class="fa fa-send"></i> Contact </a>
            
            <a href="./login.html" class="nav-link right"> Se connecter</a>
            
            <i class="dot nav-link right">&CenterDot;</i>
            
            <a href="#" id="trigger" class="nav-link right"> <i class="fa fa-user"></i> S'inscrire</a>

        </div>
        <a class="nav-link menu-icon right" id="menu-icon">
            <!-- <i class="fa fa-bars"></i> -->
            <i>&#9776;</i>
        </a>
    </div>

    <!-- Registration form -->
    <div class="auth-form-container">

        <div class="section-content">
            <div class="container">

                <div class="alert"></div>
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="first-name"><b>Nom</b></label>
                        <input type="text" class="form-control" name="first-name" id="first-name" required>
                    </div>
                    <div class="form-group">
                        <label for="last-name"><b>Prénom</b></label>
                        <input type="text" class="form-control" name="last-name" id="last-name" required>
                    </div>

                    <div class="form-group">
                        <label for="email"><b>Email</b></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="ex:milo@gmail.com" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="teacher" id="teacher" value="teacher" hidden>
                    </div>
                     
                    <div class="form-group">
                        <label for="password"><b>Mot de passe</b></label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="password_confirmation"><b>Confirmer le mot de passe</b></label>
                        <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" required>
                        <b><i class="help-block"></i></b>

                    </div>
                    
                    <div class="form-group">
                        <label for="avatar"><b>Photo de profil</b></label>
                        <input type="file" class="form-control" name="avatar" id="avatar">
                    </div>

                    <button type="submit" class="btn btn-primary "> <i class="fa fa-lock"></i> S'inscrire</button>

                    <p>
                        <b>Avez-vous déjà un compte?
                            <a href="./login.html">Connectez-vous</a></b>
                    </p>
                    
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer" style="margin-top: 0%;">
        Copyright &copy; 2021 &centerdot; ePatriote Dev High School
    </div>

    <!-- Registration script -->
    <script src="/assets/js/register.js"></script>
    
</body>
</html>